NODE_ENV=development
PORT=3000
APP_BASE_URL=http://localhost:3000

# Meta Messenger integration, used in the next phase.
META_VERIFY_TOKEN=replace-me
META_PAGE_ACCESS_TOKEN=EAAY2yIaZA708BR0ir6FTBWP2lBC5cyzq4m8Ev59dLPtGMaIs0450ZCWtHsZA3p4eJlK4ztwYZA02sKXQu5KTH0jhxAigd5nG4dZC6KmEQp85yApiSxyJTjMgUkaL8GoSRP3CTXSf9ATe5z497VCIMcOkZBRTopGx7ZAueNbbKuG5Lu7dXL2QQjEV0ZCO0IganHpPF30HQAZDZD
META_APP_SECRET=ba645c92edd57725fa405e3117d4a08f

# VNPay sandbox integration, used after COD flow is stable.
VNPAY_TMN_CODE=TSPYPMGW
VNPAY_HASH_SECRET=9RNCXLEJ6D5GQFPY7AAPXNDBY8RHPL4U
VNPAY_PAYMENT_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNPAY_RETURN_URL=http://localhost:3000/payments/vnpay/return
VNPAY_IPN_URL=http://localhost:3000/payments/vnpay/ipn
